# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
